.container {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid gainsboro;

  &:last-child {
    border: none;
  }
}

.title {
  font-size: 1.2em;
  margin-bottom: 10px;

  a {
    color: #494949;
    
  }
}

.description {
  line-height: 1.2em;
}

.info{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .tags{
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
    .tag{
      padding: 4px 8px;
      margin-right: 7px;
      background-color: #87ceeb;
      font-size: 0.8em;
      color: #ffffff;
    }
  }

  .date{
    color: #848d95;
    font-size: 13px;
  }

}

