.container {
  width: 440px;
  position: fixed;
  top: 24%;
  left: 50%;
  margin-left: -220px;
  text-align: center;
}

.form {
  background-color: #fff;
  padding: 35px 44px 40px;
  box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);
  color: #999999;
  margin-bottom: 12px;
}

.title {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  padding: 7px 10px 6px;
  background-color: #ebebeb;
  border: 0;
  color: #464646;
  margin-bottom: 20px;

  &:hover {
    background-color: #f2f2f2;
    outline: none;
  }
}

.errorMessage {
  color: #ff5e1b;
  font-size: 15px;
  margin: 11px 0;
  height: 21px;
  line-height: 21px;
}

.hidden {
  visibility: hidden;
}

.link {
  color: #1463d9;
  font-weight: bold;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
    color: #1463d9;
  }
}

.footer {
  margin-top: 18px;

  span {
    margin: 0 6px;
  }
}

.signUp {
  color: #999999;
}

.button {
  width: 100%;
  background-color: #738efa;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  padding: 0 13px;
  border-radius: 4px;

  &:hover, &:active, &:focus {
    background-color: #435dc8;
  }
}

.buttonDisabled {
  background-color: gainsboro;

  &:hover, &:active, &:focus {
    background-color: gainsboro;
  }
}