$border-color: #e0e0e0;

.description-editor{
  .editor{
    padding: 10px 10px;
    background-color: #ebebeb;
    a{
      cursor: text;
    }
  }
  &.focused{
    .editor{
      background-color: #f3f3f3;
    }
  }
}
