.controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.field-required:after{
  content: " *";
  font-weight: normal;
  color: #ff5e1b;
  font-size: 20px;
}
