.navigation {
  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    line-height: 42px;
    margin-left: 10px;
  }

  a {
    color: DimGrey;

    &:hover {
      text-decoration: underline;
    }
  }
}
.overlay{
	position: fixed;
	background: #fff;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 11;
	//opacity:0.5;
}