.container {
  width: 440px;
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -220px;
}

.form {
  background-color: #fff;
  padding: 35px 44px 40px;
  box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);
  color: #999999;
  margin-bottom: 12px;
}

.title {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 18px;
}

.text {
  font-size: 15px;
  margin-bottom: 12px;
  line-height: 1.2em;
  color: #464646;
}

.link {
  color: #1463d9;
  font-weight: bold;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
    color: #1463d9;
  }
}

.email {
  font-weight: bold;
}

.backLink {
  color: #999999;
  text-align: center;
  margin-left: 42%;

  &:hover {
    text-decoration: underline;
    color: #1463d9;
  }
}